.columns {
  margin-left: 15%;
  float: left;
  font-size:medium;
}
.title {
  text-align: center;
  margin-right: 12%;
  color:red;
}
body h2 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:green;
} 
.image {
  height:100px;
  margin-top:2%;
}
.columns ul {
  padding:0;
  margin-top:0;
  margin-bottom:0;
  background-color: blue;
}
.italic-and-blue {
  font-style:italic;
  color:white;
}

@media screen and (min-width: 700px) and (max-width: 1000px) {
.columns {
  margin-left: 15%;
  float: left;
  font-size:medium;
}
.title {
  text-align: center;
  margin-right: 12%;
  color:red;
}
body h2 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:yellow;
} 
.image {
  height:100px;
  margin-top:2%;
}
.columns ul {
  padding:0;
  margin-top:0;
  margin-bottom:0;
  background-color: rgba(36, 36, 142, 0.756);
}
.italic-and-blue {
  font-style:italic;
  color:white;
}

}

@media screen and (min-width: 300px) and (max-width: 500px) {
.title {
  text-align: center;
  margin-right: 12%;
  color:red;
}
body h2 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:green;
} 
.image {
  height:100px;
  margin-top:2%;
}
.columns ul {
  padding:0;
  margin-top:0;
  margin-bottom:0;
  background-color: rgb(234, 150, 154);
}
.italic-and-blue {
  font-style:italic;
  color:white;
}
}